@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", "sans-serif";
}

.wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
    scroll-behavior: smooth;
}

header {
    position: relative;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}

.backgroundimage {
    transform: translateZ(-10px) scale(2.1);
}

.foregroundimage {
    transform: translateZ(-5px) scale(1.5);
}

.backgroundimage,
.foregroundimage {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.title {
    position: relative;
    top: 13%;
    text-align: center;
    letter-spacing: 4px;
    font-size: 10rem;
    color: white;
    text-shadow: 0 0 5px black;
}

section {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    background-color: #2D2D2D;
    color: white;
}